@use "../abstracts/variables" as vars;
@use "../abstracts/mixins" as mix;

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: vars.$color-grey-dark;
}

.heading-primary {
  color: vars.$color-white;
  text-transform: uppercase;

  backface-visibility: hidden;
  margin-bottom: 3rem;

  &--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;

    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;

    @include mix.respond(phone) {
      font-size: 4.2rem;
    }
  }

  &--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    animation: moveInRight 1s ease-out;

    @include mix.respond(phone) {
      font-size: 1.2rem;
      font-weight: 400;
    }
  }
}

.heading-secondary {
  margin-bottom: 6.4rem;
  display: inline-block;
  font-size: 3.5rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  background-image: linear-gradient(
    to right,
    vars.$color-primary-light,
    vars.$color-primary-dark
  );
  -webkit-background-clip: text;
  color: transparent;
  transition: all 0.2s;

  @include mix.respond(tab-land--lg) {
    font-size: 3rem;
  }

  @include mix.respond(phone) {
    font-size: 2.1rem;
  }

  &:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(vars.$color-black, 0.2);
  }
}

.heading-tertiary {
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;

  @include mix.respond(phone) {
    font-size: 1.8rem;
  }
}

.paragraph {
  font-size: 1.8rem;

  @include mix.respond(phone) {
    font-size: 1.6rem;
  }

  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}
